<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/_head.ejs') %> 
    <title>Login Page </title>
</head>
<body>



    <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="min-height: 8vh; ">
        <a class="navbar-brand">Blog Website</a>
        <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item" >
                            <a class="nav-link" href="/auth/register" tabindex="3" >Register</a>
                </li>
    
            </ul>
        </div>
    </nav>



    <div class="container d-flex align-items-center justify-content-center w-100">
        <div class="jumbotron bg-dark text-white form-body">

            <% if ( typeof flash.error != 'undefined' ) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong><%= flash.error %> </strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
            <% } %>

            <form method="post" class="inline-form" action="">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" required class="form-control" Emails="form-control" type="email" name="email" value="<%= typeof email != 'undefined' ? email : ""; %> " >
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" required class="form-control" type="password" name="password">
                </div>
                <button class="btn btn-danger w-100 mt-3" type="submit">Login</button>
                <a href="/auth/forgot-password" class="text-white d-block mt-3">forgot password ? </a>
            </form>
         </div>
     </div>
     <%- include('./partials/_footer.ejs') %>
</body>
</html>